@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container {
  width: 80%;
  margin: auto;
}

.primary-button {
  color: #ea6645;
  padding: 10px;
  border-radius: 5px;
  border: #fff;
}

.secondary-button {
  background-color: #012447;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: #012447;
}
.tertiary-button {
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  border: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  /* font-family: 'Playfair Display', serif; */
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

p {
  color: #000000cc;
}

.white{
  color: #fff;
}

.footer {
  background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-image: darkgreen;
  background-origin: revert;
  background-size: cover;
  padding: 20px 0px 20px 0px;
}

.ant-carousel .slick-dots {
  justify-content: flex-end !important;
}

.ant-list-item-meta-title > a {
  color: rgb(255 255 255 / 85%) !important;
}

/* test styles */
.box {
  /* clip-path: polygon(50% 0, 100% 0%, 100% 99%, 0 100%); */
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0 100%);
}
